.cont1{
    background-color: #663399 ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.loader{
    width: 150px;
    height: 150px;
    border: solid #fff 10px;
    border-bottom: solid transparent 10px;
    border-radius: 50%;
    animation: loader 1s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}